* {
  box-sizing: border-box;
}

.landingPageBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 97vw;
  margin: 0 auto;
  background-color: #111111;
}

.articles {
  display: flex;
  width: 94vw;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.article {
  width: 25vw;
  margin: 0 auto;
}

.slider {
  width: 90vw;
  height: 50vh;
  text-align: center;
  overflow: hidden;
}

.landingImg {
  width: 50vw;
  height: 50vh;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(50vw);
  scroll-snap-type: mandatory;
}

.slide-1 {
  flex-shrink: 0;
  width: 50vw;
  height: auto;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderButton {
  display: inline-flex;
  width: 3vw;
  height: 3vw;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 0 0 1vw 0;
  position: relative;
}