.london {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 25vw;
    margin-top: 15%;
    margin-left: 10%;
}

.london img{
    margin-top: 3%;
    height: 7vh;
    width: 7vw;

}

.london p{
    font-size: 2.5em;
    margin-left: 10%;
}