.navBody {
  display: flex;
  width: 97vw;
  height: 20vh;
  margin: 0 auto;
  background-color: #787878;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.navTitle {
  font-size: 5vh;
  margin: auto 0 auto 1vw;
}


.blogImg {
  height: 10vh;
  margin: auto 0 auto 1vw;
}

.navSignUpLogin {
  display: flex;
  font-size: 3vh;
  margin: auto 0 auto 3vw;
}

.signUp {
  margin: 0 4vw 0 0;
  font-size: 2vh;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}


.navLogout {
  display: flex;
  font-size: 3vh;
  margin: auto 0 auto 5vw;
}

