.newyork {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    width: 25vw;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}

.newyork img{
    margin-top: 3%;
    height: 7vh;
    width: auto;
}

.newyork p{
    font-size: 2.5em;
    margin-left: 10%;
    margin-top: 5%;
    color:  white;
}

/* ===============londonPost require styling============ */

.newyorkPost {
    height: 60vh;
    width: 50vw;
    margin-left: 5%;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.newyorkFlex {
    display: flex;
    flex-direction: row;
}

.newyorkPost h2{
    text-align: Left;
    font-size: 2em;
    margin-left: 10%;
}
.newyorkPost p{
    text-align: Left;
    margin-top: 0;
    margin-left: 10%;
}

.newyorkDiv {
    width: 20vw;
}


.newyorkImgDiv{
    margin-left: 7%;
}
.newyorkImgDiv img{
    margin-top: 3%;
    height: 9em;
    width: 20em;
}
i {
    font-size: 2em;
    margin-left: 80%;
}