.userpage {
    background-image: url('../images/profilepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 97vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

/* .usercontainer {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 80vw;
    background: white;
    opacity: 0.8;
    margin-left: 10%;
}

.userpost{
    width: 50vw;
    text-align: center;
}

.userpages{
    display: flex;
    flex-direction: column;
}
.userpages img{
    height: 25vh;
    width: 25vw;
}
.userinfo {
    margin-left: 5%;
} */