.userinfo{
    text-align: center;
    width: 35vw;
    height: 80vh;
    margin: auto 0 auto 2vw;
    background-color: #404040;
    color: white;
    opacity: 0.9; 
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.userinfo h2{
    font-size: 2.5em;
}
